body {
	font-family: "Architects Daughter", cursive;
}

.main {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

input {
	width: 30em;
	margin: auto;
}


/* NEWLY ADDED LIST ITEM */
.item {
	text-align: left;
	background-color: rgba(255, 0, 0, .6);
	border-radius: 15px;
	width: 30em;
	margin: 1em auto;
	padding: .2em 1em;
	min-height: 3em;
}

.item-name {
	display:inline-block;
	font-size: 1.2em;
	max-width: 20em;
	margin-bottom: 1em;
}

.item-desc {
	display:none;
}

button {
	float: right;
	display: inline-block;
	width: 68px;
	margin-top: 19px;
	border: none;
	border-radius: 5px;
	transition: background-color .4s;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: darkgray;
}

/* COMPLETED ITEM */
.completed {
	background-color: rgba(0, 255, 0, .6);
}

.completed p {
	text-decoration: line-through;
}

/* EXPANDED ITEM */
.expanded {
	min-height: 8em;
}

.visible {
	display: block;
	resize: none;
	width: 94%;
	height: 4em;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin: 1em auto;
}

